{% include "layout.html" %}
{% include 'header.html' %}


{% block body %}

<div class="container">
   <div class="row">
      <div class="col md-12">
         <span class = "line">Hello, {{ name_user }}, these are your expenses:</span>

         <div class="jumbotron p-3">

            <h2><b> Transaction History </b> <button type="button" class="btn btn-success text-uppercase float-right"
                  data-toggle="modal" data-target="#mymodal">Add transaction</button> </h2>


            {% with messages = get_flashed_messages() %}

            {% if messages %}

            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">

               <button type="button" class="close" data-dismiss="alert" aria-label="close">

                  <span aria-hidden="true">x</span>

               </button>


               {{message}}


            </div>


            {% endfor %}

            {% endif %}
            {% endwith %}


            <table class="table table-hover table-dark">

               <tr>

                  <th>Date</th>
                  <th>Category</th>
                  <th>Payment type</th>
                  <th>Amount</th>
                  <th>Notes</th>

               </tr>


               {% for row in expenses %}
               <tr>
                  <td>{{row.date}}</td>
                  <td>{{row.category}}</td>
                  <td>{{row.paytype}}</td>
                  <td>£{{row.amount}}</td>
                  <td>{{row.notes}}</td>

                  <td>
                     <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal"
                        data-target="#modaledit{{row.id}}">Edit</a>
                     <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs"
                        onclick="return confirm('Are You Sure To Delete ?')">Delete</a>


                  </td>

               </tr>


               <!-- Modal Edit Employee-->
               <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                  <div class="modal-dialog">


                     <div class="modal-content">


                        <div class="modal-header">


                           <h4 class="modal-title">Update Information</h4>


                        </div>


                        <div class="modal-body">


                           <form action="{{url_for('update_expenses')}}" method="POST">


                              <div class="form-group">
                                 <input type="hidden" name="id" value = {{ userid }} >
                                 <input type="hidden" name="name" value = {{ name_user }} >
                                 <label>Date of expense:</label>
                                 <input type="date" class="form-control" name="date" required="1" value="{{row.date}}">
      
      
                              </div>
      
      
                              <div class="form-group">
      
      
                                 <label>Amount (£):</label>
                                 <input type="number" class="form-control" name="amount" required="1" value="{{row.amount}}">
      
      
                              </div>
      
      
                              <div class="form-group">
      
      
                                 <label>Pay type:</label>
                                 <select class="form-control" id="paytype" name="paytype" value="{{row.paytype}}">
                                    <option value="">--Please choose an option--</option>
                                    <option value="cash">Cash</option>
                                    <option value="debit-card">Debit Card</option>
                                    <option value="Credit">Credit</option>
                                 </select>
                              </div>
      
                              <div class="form-group">
      
      
                                 <label>Category:</label>
                                 <select class="form-control" id="category" name="category" value="{{row.category}}">
                                    <option value="">--Please choose an option--</option>
                                    <option value="grocery">Groceries</option>
                                    <option value="travel">Travel</option>
                                    <option value="Credit">Credit</option>
                                 </select>
                              </div>
      
                              <div class="form-group">
                                 <label for="notes">Notes</label>
                                 <textarea class="form-control" id="notes" rows="3" name="notes">{{row.notes}}</textarea>
                              </div>
      

                              <div class="form-group">


                                 <button class="btn btn-primary" type="submit">Update</button>


                              </div>


                           </form>


                        </div>


                        <div class="modal-footer">


                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                        </div>


                     </div>


                  </div>

               </div>


               {% endfor %}


            </table>

            <p>Total Expended Amount (£): {{ total }}</p>

         </div>



         <!-- Modal Add Employee-->


         <div id="mymodal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg modal-tall">
               <div class="modal-content">
                  <div class="modal-header">

                     <h4 class="modal-title">Add Expense</h4>
                  </div>
                  <div class="modal-body">

                     <form method="POST" action="{{url_for('addTransaction')}}">


                        <div class="form-group">
                           <input type="hidden" name="id" value = {{ userid }} >
                           <label>Date of expense:</label>
                           <input type="date" class="form-control" name="date" required="1">


                        </div>


                        <div class="form-group">


                           <label>Amount (£):</label>
                           <input type="number" class="form-control" name="amount" required="1">


                        </div>


                        <div class="form-group">


                           <label>Pay type:</label>
                           <select class="form-control" id="paytype" name="paytype">
                              <option value="">--Please choose an option--</option>
                              <option value="cash">Cash</option>
                              <option value="debit-card">Debit Card</option>
                              <option value="Credit">Credit</option>
                           </select>
                        </div>

                        <div class="form-group">


                           <label>Category:</label>
                           <select class="form-control" id="category" name="category">
                              <option value="">--Please choose an option--</option>
                              <option value="grocery">Groceries</option>
                              <option value="travel">Travel</option>
                              <option value="Credit">Credit</option>
                           </select>
                        </div>

                        <div class="form-group">
                           <label for="notes">Notes</label>
                           <textarea class="form-control" id="notes" rows="3" name="notes"></textarea>
                        </div>

                        <div class="form-group">


                           <button class="btn btn-primary" type="submit" >Add Expense</button>


                        </div>

                  </div>

                  </form>


                  <div class="modal-footer">


                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                  </div>


               </div>


            </div>


         </div>

      </div>

   </div>


</div>


{% endblock %}